@(medicineForm: Form[models.Medicine])
@import helper._

@main("Add New Medicine") {
    <h1>Add New Medicine</h1>
    @form(action = routes.PharmacyController.save()) {
        @inputText(medicineForm("name"), '_label -> "Name")
        @textarea(medicineForm("description"), '_label -> "Description")
        @inputText(medicineForm("quantityInStock"), '_label -> "Quantity In Stock")
        @inputText(medicineForm("price"), '_label -> "Price")
        @inputDate(medicineForm("expiryDate"), '_label -> "Expiry Date")

        <button type="submit" class="btn btn-success">Save</button>
        <a class="btn btn-default" href="@routes.PharmacyController.list()">Cancel</a>
    }
}
